@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.coin-app {
  color: #fff;
  margin-left: 1rem;
  margin-right: 1rem;
}

main {
  background-color: #1a1a1c;
  height: 100%;
}

.coin-header {
  background-color: #1c2833;
  color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start;
  padding: 0.2rem 0.5rem;
  width: 100%;
}

.coin-text {
  text-align: center;
}

.coin-input {
  border-radius: 4px;
  border: none;
  padding: 0.5rem 0.4rem;
  width: 100%;
  outline: 0;
  color: whitesmoke;
  font-size: 1.1rem;

  margin-top: 0.8rem;
  margin-bottom: 0.4rem;
  border: 1px dashed white;
  background-color: inherit;
}

.coin-input::placeholder {
  color: #e2e2e2;
}
